*.npy filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.ipynb !text !filter !merge !diff
*.pt !text !filter !merge !diff
*.txt !text !filter !merge !diff
data/user_knn_tuning_result.pkl filter=lfs diff=lfs merge=lfs -text
